.contentContainer { 
    display: flex;
}

.contentContainerLeft {
    flex-grow: 3;
}

.selections, .preview {
    background-color: lightblue;
    margin: 2px;
    border-radius: 5px;
}

.selections {
    display: flex;
    justify-content: flex-start;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
}

.selections__dropdown {
    margin: 0,0,0,5px;
}

.preview {
    display: flex;
    flex-direction: column;
}

.preview__park, .preview__eatery, .preview__attraction {
    display: flex;
    margin: 2px;
    justify-content: space-between;
}

.detailsButton {
    align-self: flex-end;
    margin: 5px;
}

.preview__forecast {    
    display: flex;
    border-radius: 5px;
    background-color: lightgray;
    margin: 2px;
    justify-content: space-evenly;
}

.weatherCard {
    background-color: lightgreen;
    margin: 2px;
}


#saveItinerary {
    align-self: flex-end;
    margin: 5px;
}

.disabled {
    background-color: gray;
}
.enabled {
    background-color: lightgreen;
}