.contentContainer { 
    display: flex;
}

.contentContainerLeft {
    flex-grow: 3;
}

.selections, .preview {
    background-color: lightblue;
    margin: 2px;
    border-radius: 5px;
}

.selections {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

.selections > div {
    display: flex;
    flex-direction: column;
}


.preview {
    display: flex;
    flex-direction: column;
}

.preview__park, .preview__eatery, .preview__attraction {
    display: flex;
    margin: 2px;
    justify-content: space-between;
}

.detailsButton {
    align-self: flex-end;
    margin: 5px;
}

.preview__weather {    
    display: flex;
    border-radius: 5px;
    margin: 2px;
    justify-content: space-evenly;
}

.weatherCard {
    background-color: blue;
    margin: 2px;
    border-radius: 5px;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}


#saveItinerary {
    align-self: flex-end;
    margin: 5px;
}

.dropdown {
    width: 200px;
    font-family: 'Righteous', cursive;
}