.header {
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: lightblue;
    justify-content: stretch;
}

.header__right {
    flex-grow: 1;
    font-family: 'Righteous', cursive;
}

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 5px;
    margin: 0 20%;
    color: whitesmoke;
    

}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: yellow;
}

#logo {
    width: 100px;
    justify-self: flex-start;
    margin: 5px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

.navDivider {
    color: grey;
}